<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-warning sarlavha">Uchamiz.uz Reklama agentligi web-sayti xizmatlaridan foydalanish shartlari</h1>
        <div class="sub-title"><h3>Kuchga kirish sanasi: 2021 yil iyul.</h3></div>
      <div class="shartlar text-warning text-center">I. UMUMIY QOIDALAR</div>
      <p>1.1. “Inoyatov HR Service” kompaniyasiga tegishli ushbu saytning foydalanish shartlari veb-saytga kirish va navigatsiya shartlarini tartibga soladi.
        Ushbu veb-saytga kirish va undan foydalanish ixtiyoriy va pullik bo‘lib, unga kirgan, navigatsiya qilgan yoki undan foydalangan har bir kishiga (bundan buyon matnda “Foydalanuvchi", "Siz") bevosita “Foydalanuvchi” maqomini beradi. Bunday maqom ushbu “Foydalanish” shartlarini to‘liq qabul qilishni anglatadi. Shuning uchun ushbu veb-saytdan foydalanishdan oldin quyidagi “Foydalanish” shartlarini diqqat bilan o‘qib chiqishingizni tavsiya qilamiz. Agar siz ular bilan bog‘lanishga rozi bo‘lmasangiz, iltimos, ushbu veb-saytga kirishni yoki undan foydalanishni davom ettirmang.
        <br>
        1.2. Ushbu “Foydalanish” shartlari har qanday vaqtda va foydalanuvchiga oldindan ogohlantirmasdan amaldagi qonunlar va qoidalarga rioya qilish uchun tadbirkorlik faoliyati masalalariga muvofiq veb-saytimizning professional hujjatlari yoki funksiyalaridagi o‘zgarishlar tufayli yangilanishi mumkin.
        <br>
        1.3. Yangi foydalanish shartlari veb-saytda nashr etilishi bilanoq amal qiladi. Shuning uchun foydalanuvchi amaldagi “Foydalanish” shartlarini vaqti-vaqti bilan ko‘rib chiqishi uning mas'uliyati ekanligini tan oladi va qabul qiladi.
        <br>
        1.4. Foydalanuvchi amaldagi barcha qonunlar va qoidalarga rioya qilgan holda hamda ushbu “Foydalanish” shartlariga muvofiq ravishda ushbu veb-saytdan foydalanishni va harakatlanishni qabul qiladi.
        <br>
        1.5. Agar ushbu “Foydalanish” shartlarining biron bir qismi yoki bandi sud qaroriga binoan bekor bo‘lsa, qolgan qoidalar o‘z kuchini yo‘qotmaydi.
      </p>
      <div class="shartlar text-warning text-center">II. AXBOROT VA VEB-SAYT XIZMATLARI</div>
      <p>2.1. Ushbu veb-saytdan faqat huquqiy layoqati bo‘lgan shaxslar foydalanishi mumkin. Agar-da siz ushbu talablarga mamlakatingizning amaldagi qonunlari va qoidalariga muvofiq javob bera olmasangiz, iltimos, ushbu veb-saytga kirmang yoki undan foydalanmang. Shu sabab kompaniya ushbu talablarga rioya qilmaydigan foydalanuvchilarga oldindan ogohlantirmasdan mazkur veb-saytga kirishni ta‘qiqlash huquqini o‘zida saqlab qoladi.
        <br>
        2.2. Ushbu veb-sayt o‘z foydalanuvchilariga reklama vositalari orqali o‘z reklamalarini e’lon qilish, reklama vositalarini autsorsing oqali (aynan kelishilgan holda reklama maxsulotlarini ma’lum bir haq evaziga reklama vositalariga joylashtirish) faoliyatini yo‘lga qo‘yish kabi xizmatlardan foydalanish imkoniyatini taklif qiladi.
        <br>
        2.3. Iltimos, shuni yodda tutingki, veb-sayt reklama beruvchilarning reklama mahsulotlarini sifati, to‘g‘ri to’ldirilishi, ishonchliligi, yaxlitligini nazorat qilmaydi va uni tahrirdan o‘tkazishni zimmasiga olmaydi.
        <br>
        2.4. Reklama mahsulotlari reklama vositalarini joylashtiruvchi subyektlarning ichki tartib-qoiadalariga asosan tahrir qilingan holda joylashtilishi mumkin.
      </p>
      <div class="shartlar text-warning text-center">III. FOYDALANISH JARAYONIDAGI O‘ZINI TUTISH QOIDALARI</div>
      <p>
        3.1. Foydalanuvchi ushbu veb-saytdan va uning tarkibidan ushbu “Foydalanish” shartlariga, amaldagi qonunlar va qoidalarga, odob-axloq qoidalariga va jamoat tartibiga doimo mos ravishda foydalanishi kerak. Xususan, cheklovlarsiz foydalanuvchi quyidagilarni amalga oshirmaydi:
        <br>
        - agar talab qilingan yoshga to‘lmagan bo‘lsangiz va mamlakatingizning amaldagi qonunlari va qoidalariga muvofiq shartnoma tuzish uchun huquqiy imkoniyatga ega bo‘lsangiz, taklif qilingan professional hujjatlarni tayyorlang.
        <br>
        - veb-saytimiz tarkibidan noo‘rin yoki noqonuniy foydalanish va  yoki undan noqonuniy faoliyat bilan shug‘ullanish yoki kompaniya va  yoki uchinchi shaxslarning manfaatlari yoki huquqlariga zarar yetkazuvchi harakatlar bilan shug‘ullanish uchun foydalanish.
        <br>
        - ushbu veb-saytning boshqa foydalanuvchisidan foydalanish va bahramand bo‘lishni cheklash yoki oldini olish;
        <br>
        - kompaniyaning intellektual mulk huquqlarini buzish, shu jumladan, ulardan foydalanish, nusxalash, tarqatish, o‘zgartirish, hosila asarlarini yaratish, o‘tkazish (sotish, qayta sotish, litsenziya, sublitsenziya, yuklab olish yoki boshqa yo‘llar), ko‘paytirish, tarqatish, namoyish qilishni o‘z ichiga oladi. Kompaniyaning oldindan yozma ruxsatisiz, tijorat yoki boshqa maqsadlarda ushbu veb-saytni va  yoki ushbu veb-saytning biron bir qismidagi tarkibni oshkor qilish;
        <br>
        - ushbu veb-saytga kirish yoki undan foydalanish bilan bog‘liq ravishda uchinchi tomonlarning intellektual mulk huquqlarini buzish;
        <br>
        - veb-saytning xavfsizlik bilan bog‘liq xususiyatlariga yoki har qanday kontentdan foydalanishni yoki nusxa ko‘chirishning oldini olish yoki cheklashni cheklaydigan xususiyatlarga to‘sqinlik qilish, o‘chirish yoki boshqacha tarzda aralashish;
        <br>
        - har qanday foydalanuvchiga ushbu veb-saytdan foydalanishni kamaytirishi, zarar yetkazishi, bezovta qilishi yoki unga to‘sqinlik qilishi va  yoki Kompaniyaga yoki boshqa foydalanuvchilarga tegishli uskunalarga zarar yetkazishi yoki zarar yetkazishi mumkin bo‘lgan ma‘lumotlar, kodlar yoki tarkibni yuborish yoki tarqatish.  Bunga zararli dasturlar, viruslar, mantiqiy usullar va boshqalar kiradi, lekin ular  bu bilan cheklanmaydi;
        <br>
        - Biz ushbu veb-saytning sifati, xavfsizligi va mavjudligini ta‘minlash, shuningdek, qonuniy manfaatlarimizni saqlab qolish uchun tegishli deb bilgan barcha qonuniy harakatlarni amalga oshirish maqsadida yuqorida ko‘rsatilgan majburiyatlarni bajarmagan foydalanuvchilarni istalgan vaqtda va oldindan ogohlantirmasdan taqiqlash va  yoki to‘xtatib qo‘yish huquqini o‘zimizda saqlab qolamiz.
      </p>
      <div class="shartlar text-warning text-center">IV. KAFOLATLAR VA JAVOBGARLIKNI CHEKLASH</div>
      <p>4.1. Ushbu veb-saytdan foydalanish foydalanuvchini o‘zining javobgarligi va xavfi ostida. Kompaniya veb-sayt mavjudligini va foydalanuvchining xavfsiz navigatsiyasini ta‘minlash uchun barcha imkoniyatlarni ishga soladi. Biroq, ushbu veb-saytga kirish texnik vazifalar va/yoki u orqali taqdim etilgan kontent va/yoki professional hujjatlarning yangilanishlarini yuklash orqali to‘xtatilishi mumkin. Shuningdek, biz o‘zimizga bog‘liq bo‘lmagan sabablarga ko‘ra veb-saytni uzilishlarsiz, kechikishlarsiz, xatolarsiz yoki kamchiliklarsiz, shuningdek o‘zimizga bog‘liq bo‘lmagan noqonuniy aralashish orqali uchinchi shaxslar tomonidan yetkazilishi mumkin bo‘lgan zararlarni qoplash bilan bog‘liq ishlarga kafolat bera olmaymiz.
        <br>
        4.2. Oldingilariga qaramay, kompaniya taqdim etayotgan xizmatlar iloji boricha aniqroq bo‘lishi va veb-saytda taqdim etilgan tarkib va ma‘lumotlardagi xatolarga yo‘l qo‘ymaslik uchun barcha imkoniyatlarini ishga soladi. Agar biron bir noaniqlikni aniqlasangiz, iltimos, mijozlarga xizmat ko‘rsatish guruhiga info@getcv.uz elektron pochta orqali yoki bizning aloqa manzillarimiz orqali xabardor qilishingizni so‘raymiz.
        <br>
        4.3. Agar ushbu veb-saytning mazmuni va ma‘lumotlari foydalanuvchi yoki uchinchi shaxs tomonidan noqonuniy maqsadlarda va yoki uchinchi shaxslarga yoki kompaniyaning obro‘siga zarar yetkazish uchun ishlatilsa na kompaniya, na uning sheriklari, yetkazib beruvchilar, xodimlar yoki vakillar veb-saytdagi har qanday xato yoki kamchilik uchun javobgar bo‘lmaydi.
        <br>
        4.4. Bundan tashqari, kompaniya veb-saytda reklama beruvchilar tomonidan e'lon qilingan reklamalar uchun, shuningdek reklama beruvchilar va reklama vositalari egalari o‘rtasidagi har qanday munosabatlar yoki ma‘lumotlar almashinuvi uchun javobgar bo‘lmaydi.
        <br>
        4.5. Xuddi shu tarzda, kompaniya o‘z veb-saytiga foydalanuvchilar tomonidan belgilangan yoshga to‘lmagan yoshdagi foydalanuvchilar tomonidan o‘z mamlakatlarining amaldagi qonunlari va qoidalariga muvofiq kirishi uchun hech qanday javobgarlikni o‘z zimmasiga olmaydi, bunda ularning ota-onalari va  yoki qonuniy vakillari ustidan yetarli nazoratni amalga oshirish majburiyati mavjud.
        <br>
        4.6. Kompaniya foydalanuvchi tomonidan ushbu “Foydalanish” shartlarini buzganligi sababli kelib chiqishi mumkin bo‘lgan har qanday javobgarlikdan ozod qilinadi.
      </p>
     <div class="text-warning  shartlar">V. INTELLEKTUAL MULK HUQUQLARI</div>
      <p>5.1. www.uchamiz.uz - bu kompaniya tomonidan ro‘yxatdan o‘tgan domen. Shuning uchun uni uchinchi tomonlar ushbu veb-saytda taqdim etilgan professional hujjatlardan tashqari boshqa mahsulotlar va  yoki xizmatlar bilan bog‘liq ravishda bizning foydalanuvchilarimiz o‘rtasida chalkashliklarni keltirib chiqaradigan va  yoki kompaniyaning obro‘sizlanishiga olib keladigan har qanday usulda ishlatishlari mumkin emas.
        <br>
        5.2. Ushbu veb-saytda joylashgan elementlarning barchasi: matnlar, maqolalar, tavsiflar, rasmlar, grafikalar, tovushlar, videolar, brendlar, logotiplar, interaktiv xususiyatlar yoki boshqa har qanday element, uning tuzilishi va dizayni, tarkibni tanlash va taqdim etish va unga kiritilgan elementlar yoki boshqa har qanday element va uning ishlashi, kirish va foydalanish uchun zarur bo‘lgan dasturiy ta‘minot Kompaniyaning mulki hisoblanadi. Ushbu veb-saytning barcha elementlari foydalanuvchi va  yoki mijoz tomonidan hurmat qilinishi kerak bo‘lgan intellektual mulk huquqlari bilan himoyalangan.
        <br>
        5.3. Kompaniyaning yozma roziligisiz ushbu veb-saytning ximoya qilingan elementlarini ko‘paytirish, nusxalash, tarqatish, o‘zgartirish yoki umuman, tijorat maqsadlarida yoki bo‘lmagan holda har qanday foydalanish taqiqlangan.
        <br>
        5.4. Ushbu veb-saytga kirish va undan foydalanish har qanday sharoitda kompaniyaning intellektual mulk huquqini foydalanuvchi va  yoki mijozga topshirmaydi va litsenziya yoki ruxsat bermaydi.
        <br>
        5.5. Bundan tashqari, kompaniya ushbu foydalanish shartlari bo‘yicha aniq ko‘rsatilmagan va hozirgi kunda amaldagi qonun va qoidalarga muvofiq bizga mos keladigan barcha intellektual mulk huquqlarini saqlab qoladi.
        <br>
        5.6. Kompaniya intellektual mulk huquqlarini buzadigan foydalanuvchilarga nisbatan qonuniy harakatlarni amalga oshirish huquqini o‘zida saqlab qoladi.

      </p>
      <div class="shartlar text-warning text-center">VI. MAXFIYLIK</div>
      <p>6.1. Kompaniya foydalanuvchilar va mijozlarning maxfiyligiga qat'iy amal qiladi. Siz bizga taqdim etadigan shaxsiy ma‘lumotlar, boshqalar qatori, qayd yozuvini yaratish va sizni qiziqtiradigan professional hujjatni to‘ldirish uchun zarurdir. Ushbu veb-saytning navigatsiyasi va  yoki ishlatilishidan olingan ma‘lumotlarga qo‘shimcha ravishda qayta ishlanadi.
        <br>
        6.2. Kompaniya qayta ishlangan shaxsiy ma‘lumotlarning maxfiyligi, yaxlitligi, mavjudligi va xavfsizligini kafolatlash uchun tegishli texnik va tashkiliy choralarni ko‘radi.
      </p>
      <div class="shartlar text-center text-warning">VII. NIZOLARNI HAL QILISH VA AMALDAGI QONUNLAR</div>
      <p>7.1. Ushbu “Foydalanish” shartlari amaldagi O‘zbekiston Respublikasi qonunchiligiga muvofiq tartibga solinadi va sharhlanadi.
        <br>
        7.2. Mijoz va Kompaniya o‘rtasida ushbu “Foydalanish” shartlaridan kelib chiqadigan tortishuvlar yoki kelishmovchiliklar yuzaga kelgan taqdirda, ikkala tomon ham o‘zlarining shikoyatlarini tegishli tartibda vakolatli sud organlariga berish orqali hal qilishi mumkin.
        <br>
        7.3. Ushbu “Foydalanish” shartlarining har qanday qoidalarining to‘liq yoki qisman bekor qilinishi boshqa qoidalarning haqiqiyligiga ta‘sir qilmaydi.
        <br>
        7.4. Kompaniyaning ushbu “Foydalanish” shartlaridan kelib chiqadigan yoki ulardan kelib chiqadigan har qanday huquqni amalga oshirmasligi, hech qanday sharoitda, ushbu huquqdan voz kechish sifatida talqin qilinmaydi.
      </p>

    </div>
  </div>

</div>

<app-footer></app-footer>
