<div class="nav">
  <div class="logo">
    <h4 routerLink="">Reklama <span>Agentligi</span></h4>
  </div>
  <input type="checkbox" id="checkbox">
  <label for="checkbox" id="icon">
    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
  </label>
  <div class="links">
    <li class="li"><a class="a" routerLink="/adwap">Asosiy</a></li>
    <li class="li"><a class="a"   >Autsorsing</a></li>
    <li class="li"><a class="a" >Aloqa</a></li>
    <li class="li"><a class="a" routerLink="/admin">Admin-Page</a></li>
    <li class="li"><a class="a"  routerLink="/conditions" >Foydalanish Shartlari</a></li>
  </div>
</div>
