
<footer class="footer-distributed" id="footer" style="margin-top: 123px">
  <div class="footer-left">
    <h3>Reklama <span>Agentligi</span></h3>

    <p class="footer-links">
      <a href="#">Biz haqimizda</a>
      |
      <a href="#">Bizning Mizjozlar</a>
      |
      <a href="#">Reklama berish</a>
      |
      <a href="#">Aloqa uchun</a>
    </p>

    <p class="footer-company-name">Copyright © 2021 <strong>TopSoftGroup</strong> All rights reserved</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Toshkent</span>
        O'zbekiston</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+99899-813-07-43</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:sagar00001.co@gmail.com">reklama@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>Bizning kompaniyamiz haqida </span>
      <strong>Reklama agentligi</strong> Biz bilan cho'qqiga chiqing
      Biz bilan reklama cho'qqisini zabt eting!
    </p>
    <div class="footer-icons">
      <a ><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</footer>
