<div class="infoSection">
  <div class="infoHeader" data-aos="fade-up" data-aos-duration="1000">
    <h1>Top Kanallar ro'yxati  <br> <span >Eng mashhurlari </span> </h1>
  </div>
  <div class="infoCards">
    <div class="card one" data-aos="fade-up" data-aos-duration="1000">
      <img src="../../assets/img/movie.png" class="cardoneImg" alt="" data-aos="fade-up" data-aos-duration="1100">
      <div class="cardbgone"></div>
      <div class="cardContent">
        <h2>Xushnudbek.uz</h2>
        <p>Xushnudbek.uz kanalaaridagi azolar soni, yani shuncha odam sizning reklamgizni ko'rishi mumkin</p>

      </div>
    </div>
    <div class="card two" data-aos="fade-up" data-aos-duration="1300">
      <img src="../../assets/img/learn.png" class="cardtwoImg" alt="" data-aos="fade-up" data-aos-duration="1200">
      <div class="cardbgtwo"></div>
      <div class="cardContent">
        <h2>Kun.uz </h2>
        <p>Kun.uz kanalidagi userlar soni , shunch odam sizning reklamangizni ko'rishi mumkin </p>
      </div>
    </div>
    <div class="card three" data-aos="fade-up" data-aos-duration="1600">
      <img src="../../assets/img/videocall.png" class="cardthreeImg" alt="" data-aos="fade-up" data-aos-duration="1300">
      <div class="cardbgone"></div>
      <div class="cardContent">
        <h2>Daryo.uz </h2>
        <p>Daryo.uz kanalidagi userlar soni , shunch odam sizning reklamangizni ko'rishi mumkin</p>
      </div>
    </div>
  </div>
</div>
