.infoSection{
  height: 600px;
  margin-top: 55px;
}

.infoSection .infoHeader h1 span{
  color: #2f8be0;
  font-family: 'Cookie', cursive;
}
.infoSection .infoHeader h1{
  font-family: 'Cookie', cursive;
  color: #e0ac1c;
}
.infoHeader{
  text-align: center;
  margin-bottom: 40px;
}

.infoCards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 40px 0;
  transition: all 1s;
}

.infoCards .card{
  position: relative;
  height: 360px;
  width: 350px;
  background: #fff;

}

.infoCards .one .cardoneImg{
  width: 180px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoCards .two .cardtwoImg{
  width: 158px;
  position: absolute;
  top: -50px;
  right: -50px;
}
.infoCards .three .cardthreeImg{
  width: 200px;
  position: absolute;
  top: -50px;
  right: -50px;
}

.cardbgone{
  height: 150px;
  background-color: #ffce63;
}
.cardbgtwo{
  height: 150px;
  background-color: #a1cdff;
}

.cardContent{
  padding: 0 20px;
}
.infoCards:hover{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.cardContent h2{
  font-family: 'Cookie', cursive;
  font-weight: 600;
}

.cardContent p{
  line-height: 30px;
  font-family: 'Cookie', cursive;

}


.cardContent .cardBtn{
  position: absolute;
  right: 20px;
  padding: 10px;
  background-color: #ededed;
  width: 25px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.cardContent .cardBtn:hover{
  background-color: #2f8be0;
}

.cardContent .cardBtn .cardIcon{
  position: relative;
  top:0px;
  left:0px;
  width: 16px;
}
@media only screen and (max-width: 600px) {

  .infoSection{
    margin-top: 650px;
  }

  .infoCards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-bottom: 55px;
  }

}
