<div class="about" id="about">
  <div class="aboutText" >
    <h1>Reklama berishingiz uchun  <br> <span>Quydagilar Muhim</span> </h1>
    <img class="about-img" src="../../assets/img/Signing%20a%20contract-bro.svg" alt="">

  </div>
  <div class="aboutList" data-aos="fade-left" data-aos-duration="1000">
    <ol>
      <li>
        <span>01</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate impedit numquam totam
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate impedit numquam totam.</p>
      </li>
      <li>
        <span>02</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate impedit numquam totam.</p>
      </li>
      <li>
        <span>03</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate impedit numquam totam.</p>
      </li>
      <li>
        <span>04</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate impedit numquam totam.</p>
      </li>

    </ol>
  </div>
</div>
