
<app-header></app-header>
<div style="margin-top: 140px!important;" class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>Maqomingizni tanlang</h2>
      <div class="row mt-4">
        <div class="col-md-6 offset-2">
          <img src="../../../assets/img/businessman-svgrepo-com%20(1).svg"width="150" alt="man">
          <button  routerLink="/yur" class="btn_fizyur">Yuridik Shaxs</button>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/img/male-user-svgrepo-com.svg" width="150" alt="man">
          <button routerLink="/jis" class="btn_fizyur">Jismoniy shaxs</button>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6  offset-3" routerLink="/sent-data">
        <button >Orqaga </button></div>
    </div>
  </div>
</div>
<app-footer></app-footer>

