<div class="landing" id="landingPage">
  <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
    <h3 style="font-family: 'Cookie', cursive">Reklama Maydonida.<span style="color:#e0501b;font-size: 4vw;font-family: 'Cookie', cursive">Uchamiz.</span> </h3>
    <h4 >Reklamangiz uchun eng top kanallarni bizning saytimizdan topasiz  <br> Eng maqul joy bu uchamiz.uz da</h4>
    <div class="btn">
      <button class="btn-forward-input" routerLink="/sent-data">Elon Berish </button>
    </div>
  </div>
  <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
    <img src="../../assets/img/bro.svg" alt="">
  </div>
</div>
